*{
    font-family: "Montserrat", sans-serif;
}
.font-style{
      font-family: "Open Sans", sans-serif;
}
.hover-home:hover{
    text-decoration: underline;
}
.style-text{
  padding: 10px;
  border: 2px solid black;
}
.btn-click {
    border: 1px solid black;
    background-color: yellow;
    border-radius: 20px;
    margin: 10px;
}
.btn-light{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.336);
}
.blog-image {
    width: 100%;
    height: 350px; /* Set a static height */
    overflow: hidden;
    position: relative;
    
}
.blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the div without stretching */
    display: block;
    border-radius: 10px;
}
/* BlogPage.css */
.blog-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  @media (max-width: 1200px) {
    .blog-card {
      flex: 1 1 calc(50% - 20px); /* Two items per row on medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .blog-card {
      flex: 1 1 100%; /* One item per row on small screens */
    }
  }
  

  /* Slide-out animation */
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

/* Pop-up animation */
@keyframes popUp {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.slide-out {
  animation: slideOut 0.5s ease-out;
}

.pop-up-enter {
  opacity: 0;
  transform: scale(0.5);
}

.pop-up-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s, transform 0.5s;
}
