*{
    font-family: "Montserrat", sans-serif;
}
form label {
    margin: 0.5em 0 0.2em;
}

form input, form textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 0.7em;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    cursor: pointer;
}

footer {
    background: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

