.form-control{
    background-color: #D9D9D9;
    height: 45px;
}
.button-like {
    color: white; /* Text color */ 
    border-radius: 10px; /* Optional: for rounded corners */
    pointer-events: none; /* Disable all pointer events */
    padding: 10px 20px; /* Adjust padding to match button style */
    font-size: 16px; /* Adjust font size */
    
  }
  .sour-gummy {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .side-left-font{
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    
  }
  .click-cursor{
    cursor: pointer;
  }
  
