*{
    font-family: "Montserrat", sans-serif;
}
.bg-puple{
    background-color: #007185;
}
.service-card {
    transition: #007185 0.3s ease;
  }
  
  .service-card:hover {
    background-color: #f0f0f0;
  }
  .container-item{
    background-color: red;
    display: flex;
  }
 
    